* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container {
  max-width: 1280px;
  margin: 0 auto;
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

.header-section {
  min-height: 119px;
  padding-top: 20px;
}

.header-section .header-section-container-block-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-section .header-section-container-block-flexbox nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 33px;
}

.header-section .header-section-container-block-flexbox nav ul li a {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  margin: 0;
}

@media (max-width: 592px) {
  .header-section-container-block-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
}

@media (max-width: 345px) {
  .header-section-container-block-flexbox nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 55px;
  }
  .header-section-container-block-flexbox nav ul li:nth-child(3) {
    padding-top: 15px;
    margin-bottom: 40px;
  }
}

@media (max-width: 240px) {
  .header-section-container-block-flexbox nav ul {
    padding-left: 50px;
  }
  .header-section-container-block-flexbox nav ul li:nth-child(3) {
    padding-top: 15px;
    margin-bottom: 40px;
  }
}

.create-plan-section .create-plan-section-container-block {
  min-height: 600px;
  background-image: url(/img/greatCoffee.png);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 85px;
}

.create-plan-section .create-plan-section-container-block__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
}

.create-plan-section .create-plan-section-container-block__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 445px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 56px;
}

.create-plan-section .create-plan-section-container-block__btn {
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
  max-width: 217px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
}

@media (max-width: 768px) {
  .create-plan-section .create-plan-section-container-block {
    padding-left: 30px;
  }
  .create-plan-section .create-plan-section-container-block .create-plan-section-container-block__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    max-width: 329px;
  }
  .create-plan-section .create-plan-section-container-block .create-plan-section-container-block__text {
    font-size: 15px;
    max-width: 395px;
  }
}

@media (max-width: 375px) {
  .create-plan-section .create-plan-section-container-block {
    text-align: center;
    padding-left: 0;
  }
  .create-plan-section .create-plan-section-container-block__title {
    font-size: 40px;
    line-height: 40px;
    max-width: 279px;
  }
  .create-plan-section .create-plan-section-container-block__btn {
    margin: 0 auto;
  }
}

.our-collection-section {
  margin-top: 136px;
}

.our-collection-section .our-collection-section-container-block {
  position: relative;
}

.our-collection-section .our-collection-section-container-block__img {
  position: absolute;
  z-index: -1;
  top: -30px;
  width: 100%;
}

.our-collection-section .our-collection-section-container-block-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-collection-section .our-collection-section-container-block-flexbox-innerBox {
  max-width: 255px;
  text-align: center;
}

.our-collection-section .our-collection-section-container-block-flexbox-innerBox-textbox__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  padding-top: 70px;
  padding-bottom: 24px;
}

.our-collection-section .our-collection-section-container-block-flexbox-innerBox-textbox__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.our-collection-section .our-collection-section-container-block-flexbox-innerBox:nth-child(4) {
  padding-top: 10px;
}

@media (max-width: 1015px) {
  .our-collection-section .our-collection-section-container-block-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
  }
  .our-collection-section .our-collection-section-container-block-flexbox-innerBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 573px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .our-collection-section .our-collection-section-container-block-flexbox-innerBox-textbox {
    text-align: left;
  }
  .our-collection-section .our-collection-section-container-block-flexbox-innerBox-textbox__title {
    padding-top: 0;
  }
}

@media (max-width: 450px) {
  .our-collection-section .our-collection-section-container-block-flexbox {
    gap: 40px 0;
  }
  .our-collection-section .our-collection-section-container-block-flexbox-innerBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-collection-section .our-collection-section-container-block-flexbox-innerBox-textbox {
    text-align: center;
    max-width: 282px;
  }
}

.why-us-section {
  margin-top: 200px;
}

.why-us-section .why-us-section-container-block {
  height: 577px;
  background-color: #2C343E;
  border-radius: 15px;
}

.why-us-section .why-us-section-container-block__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  padding-top: 100px;
}

.why-us-section .why-us-section-container-block__text {
  padding-top: 32px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 540px;
  margin: 0 auto;
}

.why-us-section .why-us-section-container-block-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  padding-top: 86px;
}

.why-us-section .why-us-section-container-block-flexbox-innerBox {
  min-width: 350px;
  height: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px 0;
  background: #0E8784;
  border-radius: 8px;
}

.why-us-section .why-us-section-container-block-flexbox-innerBox-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px 0;
}

.why-us-section .why-us-section-container-block-flexbox-innerBox-textbox__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
}

.why-us-section .why-us-section-container-block-flexbox-innerBox-textbox__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  max-width: 255px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .why-us-section .why-us-section-container-block {
    min-height: 597px;
  }
  .why-us-section .why-us-section-container-block-flexbox {
    padding-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px 0;
  }
  .why-us-section .why-us-section-container-block-flexbox-innerBox {
    max-width: 573px;
    height: 180px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0 55px;
    padding-left: 70px;
    padding-right: 48px;
  }
  .why-us-section .why-us-section-container-block-flexbox-innerBox-textbox__text {
    max-width: 344px;
  }
}

@media (max-width: 450px) {
  .why-us-section .why-us-section-container-block {
    height: 902px;
  }
  .why-us-section .why-us-section-container-block-flexbox-innerBox {
    max-width: 279px;
    min-height: 382px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 56px 0;
  }
}

@media (max-width: 373px) {
  .why-us-section .why-us-section-container-block-flexbox-innerBox {
    width: 85vw;
  }
}

.how-it-works-section {
  margin-top: 350px;
}

.how-it-works-section .how-it-works-section-container-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.how-it-works-section .how-it-works-section-container-block__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  padding-bottom: 178px;
}

.how-it-works-section .how-it-works-section-container-block-imgbox {
  position: absolute;
  top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works-section .how-it-works-section-container-block-imgbox__lineImg {
  width: 98%;
}

.how-it-works-section .how-it-works-section-container-block-imgbox__circleImg {
  position: absolute;
}

.how-it-works-section .how-it-works-section-container-block-imgbox__circleImg:nth-child(2) {
  left: 349px;
  right: auto;
}

.how-it-works-section .how-it-works-section-container-block-imgbox__circleImg:nth-child(3) {
  left: 729px;
}

.how-it-works-section .how-it-works-section-container-block-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 75px;
  padding-bottom: 64px;
}

.how-it-works-section .how-it-works-section-container-block-flexbox-innerBox {
  max-width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px 0;
}

.how-it-works-section .how-it-works-section-container-block-flexbox-innerBox__title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.how-it-works-section .how-it-works-section-container-block-flexbox-innerBox__secondTitle {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  max-width: 255px;
}

.how-it-works-section .how-it-works-section-container-block-flexbox-innerBox__text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.how-it-works-section .how-it-works-section-container-block .how-it-works-section-container-block-btn {
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
}

@media (max-width: 768px) {
  .how-it-works-section .how-it-works-section-container-block-imgbox__lineImg {
    width: 76%;
  }
  .how-it-works-section .how-it-works-section-container-block-imgbox__circleImg:nth-child(2) {
    left: 282px;
  }
  .how-it-works-section .how-it-works-section-container-block-imgbox__circleImg:nth-child(3) {
    left: 524px;
  }
  .how-it-works-section .how-it-works-section-container-block-flexbox {
    gap: 0;
  }
}

@media (max-width: 700px) {
  .how-it-works-section .how-it-works-section-container-block {
    gap: 80px 0;
  }
  .how-it-works-section .how-it-works-section-container-block__title {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 80px;
  }
  .how-it-works-section .how-it-works-section-container-block-imgbox {
    display: none;
  }
  .how-it-works-section .how-it-works-section-container-block-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 56px 0;
    margin: 0 auto;
  }
  .how-it-works-section .how-it-works-section-container-block-flexbox-innerBox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .how-it-works-section .how-it-works-section-container-block-flexbox-innerBox__secondTitle {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }
  .how-it-works-section .how-it-works-section-container-block-flexbox-innerBox__text {
    max-width: 387px;
    text-align: center;
  }
  .how-it-works-section .how-it-works-section-container-block-flexbox-innerBox .padding {
    padding-left: -70px;
  }
  .how-it-works-section .how-it-works-section-container-block-btn {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .how-it-works-section .how-it-works-section-container-block {
    gap: 80px;
  }
  .how-it-works-section .how-it-works-section-container-block__title {
    padding-top: 550px;
    padding-bottom: 80px;
  }
}

.footer-section {
  margin-top: 200px;
}

.footer-section .footer-section-container-block {
  max-width: 1280px;
  min-height: 120px;
  background: #2C343E;
}

.footer-section .footer-section-container-block-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 47px 85px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 0;
}

.footer-section .footer-section-container-block-flexbox__img {
  width: 236px;
  height: 26px;
}

.footer-section .footer-section-container-block-flexbox nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 33px;
}

.footer-section .footer-section-container-block-flexbox nav ul li a {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.footer-section .footer-section-container-block-flexbox nav ul li:nth-child(1) {
  margin-left: auto;
}

.footer-section .footer-section-container-block-flexbox-spanbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px;
}

@media (max-width: 850px) {
  .footer-section .footer-section-container-block-flexbox-spanbox {
    margin: 0 auto;
  }
}

@media (max-width: 705px) {
  .footer-section .footer-section-container-block-flexbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }
  .footer-section .footer-section-container-block-flexbox nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer-section .footer-section-container-block-flexbox-spanbox {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */