@media (max-width: 375px) {
    .about-us-section {
        &-container {
            &-block {
                width: 327px;
                height: 400px;
                margin-left: 24px;
                background-position: center;

                &__title {
                    font-size: 28px;
                    line-height: 28px;
                    padding-left: 0;
                    text-align: center;
                }

                &__text {
                    font-size: 15px;
                    line-height: 25px;
                    margin-left: 24px;
                    text-align: center;
                    width: 279px;

                }
            }
        }
    }
}