@media (max-width: 768px) {
    .about-us-section {
        &-container {
            &-block {
                width: 689px;
                height: 400px;
                margin-left: 39px;
                background-position: center;

                &__title {
                    font-size: 32px;
                    line-height: 40px;
                    padding-top: 118px;
                    padding-left: 58px;
                }

                &__text {
                    font-size: 15px;
                    line-height: 25px;
                    margin-left: 58px;
                    width: 398px;
                }
            }
        }
    }
}