.about-us-section {
    &-container {
        &-block {
            width: 1280px;
            height: 450px;
            background-image: url(/img/about\ us\ photo.png);
            border-radius: 10px;
            margin-left: 80px;
            margin-top: 48px;

            &__title {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                line-height: 48px;
                color: #FEFCF7;
                padding-top: 137px;
                padding-left: 85px;
            }

            &__text {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FEFCF7;
                width: 445px;
                margin-left: 85px;
            }
        }
    }
}