@media (max-width: 395px) {
    .about-us-section {
        &-container {
            &-block {
                background-position: center;

                &__title {
                    font-size: 40px;
                    line-height: 40px;
                    padding-left: 0;
                }

                &__text {
                    font-size: 15px;
                    line-height: 25px;
                    width: 279px;
                    text-align: center;
                    margin-left: 24px;
                }
            }
        }
    }
}