@media (max-width: 375px) {
    .create-plan-section {
        &-container {
            &-block {
                width: 327px;
                height: 500px;
                background-position: center;
                margin-left: 24px;

                &__title {
                    font-size: 40px;
                    line-height: 40px;
                    padding-top: 100px;
                    padding-left: 24px;
                    padding-right: 0;
                    text-align: center;
                }

                &__text {
                    font-size: 15px;
                    line-height: 25px;
                    padding-right: 0;
                    padding-left: 24px;
                    text-align: center;
                }

                &__btn {
                    margin-left: 55px;
                }
            }
        }
    }
}