@media (max-width: 768px) {
    .about-us-section {
        &-container {
            &-block {
                background-position: center top;

                &__title {
                    font-size: 48px;
                    line-height: 48px;
                    padding-left: 58px;
                    padding-top: 127px;
                }

                &__text {
                    font-size: 15px;
                    line-height: 25px;
                    width: 398px;
                    opacity: 0.8;
                }
            }
        }
    }
}