.footer-section {
    margin-top: 200px;

    .footer-section-container-block {
        max-width: 1280px;
        min-height: 120px;
        background: #2C343E;
         
        &-flexbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 47px 85px;
            flex-wrap: wrap;
            gap: 20px 0;

            &__img {
                width: 236px;
                height: 26px;
            }

            nav {
                ul {
                    display: flex;
                    gap: 0 33px;

                    li {
                        a {
                            font-family: 'Barlow';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.923077px;
                            text-transform: uppercase;
                            color: #83888F;
                        }
                    }

                    li:nth-child(1) {
                        margin-left: auto;
                    }
                }
            }

            &-spanbox {
                display: flex;
                gap: 0 24px;
            }

            
        }
    }

    @media (max-width: 850px) {
        .footer-section-container-block-flexbox {
            &-spanbox {
                margin: 0 auto;
            } 
        }
    }

    @media (max-width: 705px) {
        .footer-section-container-block-flexbox {
            justify-content: center;
            padding: 20px 0;

            nav {
                ul {
                    flex-wrap: wrap;
                    margin: 0 auto;    
                    
                }
            }

            &-spanbox {
                margin: 0 auto;
            } 
        }
    }
}