@media (max-width: 768px) {
    .headquarters-section {
        &-container {
            &-block {
                &__title {
                    font-size: 24px;
                    line-height: 32px;
                    padding-left: 40px;
                    padding-top: 144px;
                }

                &-flexbox {
                    gap: 0 0;

                    &-box {
                        &__title {
                            font-size: 24px;
                            line-height: 36px;
                            width: 223px;

                            nav {
                                ul {
                                    li {
                                        font-size: 16px;
                                        line-height: 26px;
                                    }
                                }
                            }
                        }
                    }
                }

                &-flexbox:nth-child(2) {
                    margin-left: 40px;
                }

            }
        }
    }
}