.how-it-works-section {
    margin-top: 350px;

    .how-it-works-section-container-block {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 178px 0;

        &__title {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #83888F;
        }

        &-imgbox {
            position: absolute;
            top: 120px;
            display: flex;
            align-items: center;

            &__circleImg {
                position: absolute;
            }

            &__circleImg:nth-child(2) {
                left: 349px;
                right: auto;
            }

            &__circleImg:nth-child(3) {
                left: 729px;
            }
            
        }

        &-flexbox {
            display: flex;
            gap: 0 75px;

            &-innerBox {
                max-width: 285px;
                display: flex;
                flex-direction: column;
                gap: 35px 0;

                &__title {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 72px;
                    line-height: 72px;
                    color: #FDD6BA;
                }

                &__secondTitle {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 36px;
                    color: #333D4B;
                    max-width: 255px;
                }

                &__text {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #333D4B;
                }
            }
        }
    }

    @media (max-width: 768px) {
        
    }
}