@media (max-width: 768px) {
    .our-commitment-section {
        &-container {
            &-block {
                &-flexbox {
                    gap: 0 69px;

                    &__img {
                        margin-top: 144px;
                        width: 281px;
                        height: 470px;
                        margin-left: 39px;
                    }

                    &-textbox {
                        &__title {
                            font-size: 32px;
                            line-height: 48px;
                        }

                        &__text {
                            font-size: 15px;
                            line-height: 25px;
                            width: 339px;
                        }
                    }
                }
            }
        }
    }
}