@media (max-width: 375px) {
    .our-collection-section {
        &-container {
            &-block {
                &__img {
                    margin-left: 47px;
                    margin-top: 10px;
                    width: 290px;
                    height: 62px;
                }

                &-flexbox {
                    flex-direction: column;

                    &-firstbox {
                        width: 282px;
                        margin-left: 47px;
                        margin-top: 210px;
                        display: flex;
                        flex-direction: column;

                        &__img {
                            width: 210px;
                            height: 151px;
                            margin-left: 27px;
                        }

                        &-textbox {
                            &__title {
                                font-size: 24px;
                                line-height: 32px;
                            }

                            &__text {
                                font-size: 15px;
                                line-height: 25px;
                            }
                        }
                    }

                    &-secondbox {
                        width: 282px;
                        margin-left: 47px;
                        margin-top: 48px;
                        display: flex;
                        flex-direction: column;
                    }

                    &-thirdbox {
                        width: 282px;
                        margin-left: 47px;
                        margin-top: 48px;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}