.our-commitment-section {
    margin-top: 170px;

    .our-commitment-section-container-block {
        &-flexbox {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &__img {
                border-radius: 8px;
            }

            &-textbox {
                display: flex;
                flex-direction: column;
                max-width: 540px;
                gap: 32px 0 ;

                &__title {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 48px;
                    color: #333D4B;
                }

                &__text {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #333D4B;
                    mix-blend-mode: normal;
                    opacity: 0.8;
                }
            }
        }
    }

    @media (max-width: 850px) {
        .our-commitment-section-container-block {
            &-flexbox {
                flex-direction: column;
                gap: 50px 0;

                &-textbox {
                    align-items: center;

                    &__text {
                        text-align: center;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .our-commitment-section-container-block {
            &-flexbox {
                &__img {
                    width: 95%;
                }

                &-textbox {
                    &__title {
                        text-align: center;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}