@media (max-width: 768px) {
    .perferences-section {
        &-container {
            &-block {
                margin-top: 144px;

                &-flexbox {
                    &-selectBox {
                        display: none;
                    } 

                    &-inputBox {
                        &-box {
                            width: 685px;
                            margin-left: 39px;


                            &__title {
                                font-size: 32px;
                                line-height: 48px;
                            }

                            &-flexbox {
                                gap: 0 10px;

                                &-innerBox {
                                    width: 223px;
                                    height: 250px;
                                }
                            }
                        }
                    }

                    .perferences-section-container-block-flexbox-textbox {
                        width: 689px;
                        margin-left: 39px;

                        &__title {
                            padding-left: 44px;
                        }

                        &__text {
                            font-size: 24px;
                            line-height: 40px;
                            margin-left: 44px;
                        }
                    }

                    .perferences-section-container-block-flexbox__btn {
                        margin-left: 275px;
                    }
                }
            }
        }
    }
}