.steps-section {
    &-container {
        &-block {
            width: 1280px;
            height: 653px;
            background: #2C343E;
            border-radius: 10px;
            margin-top: 155px;
            margin-left: 80px;
            position: relative;

            &-imgbox {
                &__lineImg {
                    position: absolute;
                    top: 115px;
                    left: 100px;
                    background-color: #2C343E;
                }

                &__circleImg1 {
                    margin-left: 85px;
                    background-color: transparent;
                }
    
                &__circleImg {
                    margin-top: 100px;
                    margin-left: 345px;
                    background-color: transparent;
                }
            }

            
            &-flexbox {
                display: flex;
                gap: 0 95px;

                &-firstbox {
                    margin-top: 198px;
                    margin-left: 85px;
                    width: 285px;

                    &__title {
                        font-family: 'Fraunces';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 72px;
                        line-height: 72px;
                        color: #FDD6BA;
                        margin-top: -100px;
                    }

                    &__secondTitle {
                        font-family: 'Fraunces';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 32px;
                        line-height: 36px;
                        color: #FEFCF7;
                        width: 205px;
                    }

                    &__text {
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #FEFCF7;
                    }
                }

                &-secondbox {
                    margin-top: 198px;
                    width: 285px;
                }
            }
        }

    }
}