@media (max-width: 375px) {
    .steps-section {
        &-container {
            &-block {
                width: 375px;
                height: 1328px;
                margin-top: 120px;
                margin-left: 0;

                &-imgbox {
                    display: none;
                }

                &-flexbox {
                    gap: 56px 0;
                    flex-direction: column;

                    &-firstbox {
                        margin-top: 80px;
                        margin-left: 0;

                        &__title {
                            margin-top: 0;
                            text-align: center;
                            margin-left: 64px;
                        }

                        &__secondTitle {
                            font-size: 28px;
                            line-height: 32px;
                            width: 327px;
                            text-align: center;
                            margin-left: 24px;
                        }

                        &__text {
                            font-size: 15px;
                            line-height: 25px;
                            width: 327px;
                            text-align: center;
                            margin-left: 14px;
                        }
                    }

                    &-secondbox {
                        margin-top: 56px;
                    }
                }
            }
        }
    }
}