@media (max-width: 768px) {
    .umcomprosing-quality-section {
        &-container {
            &-block {
                width: 688px;
                height: 488px;
                margin-left: 40px;
                margin-top: 300px;

                &-flexbox {
                    flex-direction: column;

                    &-textbox {
                        &__title {
                            font-size: 32px;
                            line-height: 48px;
                            margin-top: 244px;
                            width: 413px;
                            margin-left: 55px;
                            text-align: center;
                        }

                        &__text {
                            font-size: 15px;
                            line-height: 25px;
                            width: 540px;
                            text-align: center;
                            margin-left: 0;
                        }
                    }

                    &__img {
                        width: 573px;
                        height: 320px;
                        left: 100px;
                    }
                }
            }
        }
    }
}