.umcomprosing-quality-section {
    &-container {
        position: relative;

        &-block {
            width: 1280px;
            height: 474px;
            background-color: #2C343E;
            border-radius: 10px;
            z-index: -1;
            margin-left: 80px;
            margin-top: 244px;

            &-flexbox {
                display: flex;
                flex-direction: row;
                align-items: center;

                &-textbox {
                    &__title {
                        font-family: 'Fraunces';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 40px;
                        line-height: 48px;
                        color: #FEFCF7;
                        margin-left: 85px;
                        margin-top: 88px;
                    }

                    &__text {
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #FEFCF7;
                        mix-blend-mode: normal;
                        opacity: 0.8;
                        width: 540px;
                        margin-left: 85px;
                    }
                }

                &__img {
                    height: 474px;
                    position: absolute;
                    left: 830px;
                    top: -100px;
                }
            }
        }
    }
}